.page-header{
	height: 300px;
	background: #D5768E;
}


.text-field{
	padding: 10px;
	background: #fff;
	font-family: arial;
	border-radius: 8px;
	margin-bottom: 10px;
}


/*TABLET BREAKPOINT*/
@media screen and (min-width:724px) {



}
/*END TABLET BREAKPOINT*/


/*DESKTOP BREAKPOINT*/
@media screen and (min-width:1000px) {


}
/*END DESKTOP BREAKPOINT*/


/*XL DESKTOP BREAKPOINT*/
@media screen and (min-width:1200px) {


}
/*END XL DESKTOP BREAKPOINT*/